<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">김하온</h2>

      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4Qgc9_yTWBVfwjiA1qsHb8XPU07HRDOy-MQ&usqp=CAU"
        width="400" height="300">
      </div>
      <div>
      <P>안녕 나를 소개하지</p>
      <p>이름 김하온 직업은 traveler</p>
      <p>취미는 tai chi, meditation, 독서, 영화시청</p>
      <p>랩 해 터 털어 너 그리고 날 위해</p>
      <p>증오는 빼는 편이야 가사에서 질리는 맛이기에</p>
      </div>
    </div>
  </body>
</html>
