<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>스마트팜</h1>
        <p>휴스타3조</p>
        <p>배지원 이돈민 이상욱 이예지 이시완</p>

    
      </div>

    </div>
  </body>
</html>
